* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ex;
    src: url(../fonts/dx.woff2);
}

.sidebar {
    width: 204px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #242424;
    overflow-y: auto;
}

.sidebar > .logo {
    padding: 30px 0 50px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-align: center
}

.sidebar-nav a {
    display: block;
    padding: 11px 16px;
    text-decoration: none;
    border-top: 1px #2d2d2d solid;
    color: #aaa;
    font-family: ex;
    font-size: 15px;
}

.sidebar-nav a:hover {
    background-color: #111;
}
.height67 {
    height: 67px;
    }

/*
.sidebar-nav i:hover {
    background-color: #f2be35;
}
*/

.sidebar-nav a:focus {
    color: #f2be35;
}

.sidebar-nav i {
    width: 20px;
    height: 20px;
    padding: 5px;
    text-align: center border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.sidebar-nav a > span {
    padding-left: 10px;
}

.sidebar-nav li:last-child > a {
    border-bottom: 1px #2d2d2d solid;
}

.main {
    position: absolute;
    background-color: #eee;
    right: 0;
    left: 204px;
}

.top-nav {
    background-color: white;
}

.top-nav > ul > li{
    display: inline-block; 
}

.top-nav > ul > li > a {
    padding: 16px 20px;
    display: block;
    color: #666;
}

.top-nav > ul > li > a:hover {
    color: #333;
}

.top-left {
    float: left;
}

.top-right {
    float: right;
}

.clear {
    clear: both;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 5px;
}

.user-info span {
    position: relative;
    bottom: 10px;
    color: #666;
    font-family: sans-serif;
    font-size: 14px;
    
}

.user-comp {
    position: relative;
    top: 10px;
}

.search {
    border: 0;
    padding: 10px 0 10px 50px;
}

.search:focus {
    outline: 0;
    background-color: #eee;
}

.search-ic {
    position: relative;
    left: 10px;
}

.top-title {
    font-family: ex;
    font-weight: 300;
    color: #555563;
    margin: 40px 40px;
    font-size: 14px;
}.top-title2 {
    font-family: ex;
    font-weight: 300;
    color: #555563;
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: 36px;
}

.capt{
    color: #555563;
    font-family: ex;
    font-size: 18px;
    font-weight: 300;
    float: left;
    margin-left: 15px;
}
.table-header .capt,.left-widget{
    display: inline;
}

.left-widget{
    float: right;
    margin-right: 10px;
    padding-top: 5px;
}
.left-widget > a{
    padding:0 5px;
    color: rgba(0,0,0,.4);
    font-family: ex;
}

.text1{
    color: #555563;
    font-family: ex;
}
.image-round{
    border-radius: 6px;
}
.faded{
   color: rgb(182, 182, 182);
}
.progress0 {
  border: 0;
  height: 10px;
  border-radius: 4px;
}
.progress1::-webkit-progress-bar {
  background-color: rgb(238, 238, 238);
  border: 0;
  height: 10px;
  border-radius: 4px;
}
.progress1::-webkit-progress-value {
  background-color: rgb(100, 189, 99);
  border-radius: 4px;  
}
.first-table{
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 25px;
    border-radius: 5px;
   
}

.progress2::-webkit-progress-bar {
  background-color: rgb(238, 238, 238);
  border: 0;
  height: 10px;
  border-radius: 4px;
}
.progress2::-webkit-progress-value {
  background-color: rgb(240, 181, 24);
  border-radius: 4px;  
}
.progress3::-webkit-progress-bar {
  background-color: rgb(238, 238, 238);
  border: 0;
  height: 10px;
  border-radius: 4px;
}
.progress3::-webkit-progress-value {
  background-color: rgb(85, 85, 85);
  border-radius: 4px;  
}
.progress4::-webkit-progress-bar {
  background-color: rgb(238, 238, 238);
  border: 0;
  height: 10px;
  border-radius: 4px;
}
.progress4::-webkit-progress-value {
  background-color: rgb(221, 88, 38);
  border-radius: 4px;  
}
.progress5::-webkit-progress-bar {
  background-color: rgb(238, 238, 238);
  border: 0;
  height: 10px;
  border-radius: 4px;
}
.progress5::-webkit-progress-value {
  background-color: rgb(93, 143, 194);
  border-radius: 4px;  
}
